<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Email Template</title>

</head>

<body style=" 
  font-family: Arial, sans-serif;">
  <table style="
    max-width: 700px;
    background-color: white;
    border-spacing: unset !important;">
    <tr>
      <td style="
        text-align: right;
        padding: 20px 0;
        background-color: #F5F7FA;
        border-spacing: unset !important">
        <img src="https://dev.blackalgo.com/images/Header/BLACKALGOwhite.png" alt="Image" style="
          max-width: 100%;
          height: auto;
          padding-right: 30px;">
      </td>
    </tr>
    <tr>
    <td  style="padding: 20px;font-size: 16px;">
        <p>
        We received a request to reset the password for your account.
        if you've lost your password or wish to reset it, </p>
        <p>Please click the link below to reset your password:</p>
        <div align="center">
         
          <a class="btn btn-primary"   href=<%= content.url + "/reset_password?token=" + content.token %>
            style="display: inline-block; font-weight: 600; padding: 15px 40px; text-align: center ;text-decoration: none; background-color: #0088cc; color: #ffffff; border-radius: 25px;">RESET PASSWORD</a>
        </div>
        </p>
        <p>If you did not request a password reset, you can safely ignore this email. Only a person with access this email can reset your account password.</p>
        <p>If you have any questions or need assistance, please don't hesitate to reach out to our support team on our
          <a class="btn btn-primary" href="https://discord.com/invite/HxdjMXWDGu" style="color: #0088cc">
          Discord</a>. </p>
        <p>Thank you for choosing BLACKALGO. We look forward to helping you revolutionize your trading experience!</p>
        <p>Best regards,</p>
        <p>The BLACKALGO Team</p>
      </td>
    </tr>

  </table>
</body>

</html>