<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Email Template</title>

</head>

<body style=" 
  font-family: Arial, sans-serif;">
  <table style="
    max-width: 700px;
    background-color: white;
    border-spacing: unset !important;">
    <tr>
      <td style="
        text-align: right;
        padding: 20px 0;
        background-color: #F5F7FA;
        border-spacing: unset !important">
        <img src="https://dev.blackalgo.com/images/Header/BLACKALGOwhite.png" alt="Image" style="
          max-width: 100%;
          height: auto;
          padding-right: 30px;">
      </td>
    </tr>
    <tr>
    <td  style="padding: 20px;font-size: 16px;">
        <p>
          We received a request to get your 2FA BACKUP KEY for your account.
          if you've lost your 2FA key or wish to reset it, </p>
        <p>Here is your 2FA BACKUPKEY</p>
        <div align="center">
          2FA SECRET KEY
         
           <span
             style="
               display: block;
               padding: 14px 44px 13px;
               line-height: 120%;
             "
             ><span style="font-size: 16px; line-height: 19.2px"
               ><strong
                 ><span style="line-height: 19.2px; font-size: 16px"
                   >  <%= content.token %>
                   </span
                 ></strong
               ></span
             ></span
           >
         </a>
       </div>
        </p>
        <p>If you did not request, Only a person with access this email can reset your account password.</p>
        <p>If you have any questions or need assistance, please don't hesitate to reach out to our support team on our
          <a class="btn btn-primary" href="https://discord.com/invite/HxdjMXWDGu" style="color: #0088cc">
          [Discord]</a>. </p>
        <p>Thank you for choosing BLACKALGO. We look forward to helping you revolutionize your trading experience!</p>
        <p>Best regards,</p>
        <p>The BLACKALGO Team</p>
      </td>
    </tr>

  </table>
</body>

</html>