<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Email Template</title>

</head>

<body style=" 
  font-family: Arial, sans-serif;">
  <table style="
    max-width: 700px;
    background-color: white;
    border-spacing: unset !important;">
    <tr>
      <td style="
        text-align: right;
        padding: 20px 0;
        background-color: #F5F7FA;
        border-spacing: unset !important">
        <img src="https://dev.blackalgo.com/images/Header/BLACKALGOwhite.png" alt="Image" style="
          max-width: 100%;
          height: auto;
          padding-right: 30px;">
      </td>
    </tr>
    <tr>
    <td  style="padding: 20px;font-size: 16px;">
        <p>Dear <%= receiver.name %>,</p>
        <p>Welcome to BLACKALGO! We're excited to have you join our community of AI-powered traders. Before we get
          started, we need to verify your email address to ensure the security of your account.</p>
        <p>Please click the link below to confirm your email address:</p>
        <p style="text-align: center; padding: 20px;">
          <a class="btn btn-primary"  href=<%= content.url + "/auth/verify-email?token=" + content.token %>
            style="display: inline-block; font-weight: 600; padding: 15px 40px; text-align: center ;text-decoration: none; background-color: #0088cc; color: #ffffff; border-radius: 25px;">Verify
            your email</a>
        </p>
        <p>If you didn't request this email or if you think it's been sent to you in error, please ignore it.</p>
        <p>Once your email is confirmed, you'll have full access to our platform and can start exploring our
          cutting-edge AI trading solutions.</p>
        <p>If you have any questions or need assistance, please don't hesitate to reach out to our support team on our
          <a class="btn btn-primary" href="https://discord.com/invite/HxdjMXWDGu" style="color: #0088cc">
          [Discord]</a>. </p>
        <p>Thank you for choosing BLACKALGO. We look forward to helping you revolutionize your trading experience!</p>
        <p>Best regards,</p>
        <p>The BLACKALGO Team</p>
      </td>
    </tr>

  </table>
</body>

</html>